# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
MONGO_PASSWORD=your_strong_mongo_password
MONGO_DB_NAME=intelligent_api_monitoring
DATABASE_URL=mongodb://intelligent_api_monitoring:your_strong_mongo_password@localhost:27017/intelligent_api_monitoring?authSource=admin

# Redis Configuration (for BullMQ)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=your_strong_redis_password

# LLM Configuration
LLM_API_KEY=your_api_key_here
LLM_MODEL_NAME=gpt-4o

# Multer Configuration
MAX_FILE_SIZE=5242880
UPLOAD_PATH=./uploads

#Cloudinary
CLOUDINARY_CLOUD_NAME=dy
CLOUDINARY_API_KEY=282
CLOUDINARY_API_SECRET=nuc_Ws_

# JWT Configuration
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=5m
JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d